In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

# Validating the data

In [2]:
data=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Checking Total Count and types of Values

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

### Getting the Detailed Information about the Numeric data

In [4]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

#### Knowing the Column Names

In [5]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

### Checking for the Null Values

In [6]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Converting the Non Numeric Data to Numeric data

In [7]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Replacing the of type object to integer

In [8]:
# Replaing the Prediction where 1 indicates Yes and 0 indicates NO

data['Churn'].replace(to_replace='Yes', value=1, inplace=True)
data['Churn'].replace(to_replace='No', value=0, inplace=True)

In [9]:
# Replacing the Gender where 1 indicates male and 0 indicates Female

data['gender'].replace(to_replace='Male',value=1,inplace=True)
data['gender'].replace(to_replace='Female',value=0,inplace=True)

In [10]:
#Replacing the Partner where 1 indicates yes and O indicates No

data['Partner'].replace(to_replace='Yes',value=1,inplace=True)
data['Partner'].replace(to_replace='No',value=0,inplace=True)

In [11]:
# Replacing the Dependents where 1 indicates yes and O Indicates No

data['Dependents'].replace(to_replace='Yes',value=1,inplace=True)
data['Dependents'].replace(to_replace='No',value=0,inplace=True)

In [12]:
#Replacing the Phoneservice where 1 indictes yes and 0 indicates No

data['PhoneService'].replace(to_replace='Yes',value=1,inplace=True)
data['PhoneService'].replace(to_replace='No',value=0,inplace=True)

In [13]:
#Replacing the Mutiplines values Where 1 indicates yes and 0 indicates No and No Phone Service Indicates 0

data['MultipleLines'].replace(to_replace='Yes',value=1,inplace=True)
data['MultipleLines'].replace(to_replace='No',value=0,inplace=True)
data['MultipleLines'].replace(to_replace='No phone service',value=0,inplace=True)

In [14]:
#Replacing the Internet Service Where 1 indicates the DSl and Fiber optic and 0 indicates the No

data['InternetService'].replace(to_replace='DSL',value=1,inplace=True)
data['InternetService'].replace(to_replace='Fiber optic',value=1,inplace=True)
data['InternetService'].replace(to_replace='No',value=0,inplace=True)

In [15]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,1,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,1,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,1,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,0,1,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,1,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [16]:
#Replacing the Online Security Where 1 indicates Yes and 0 Indicates No

data['OnlineSecurity'].replace(to_replace='Yes',value=1,inplace=True)
data['OnlineSecurity'].replace(to_replace='No',value=0,inplace=True)

In [17]:
#Replacing the Device Protection Where 1 indicates Yes and 0 Indicates No

data['DeviceProtection'].replace(to_replace='Yes',value=1,inplace=True)
data['DeviceProtection'].replace(to_replace='No',value=0,inplace=True)

In [18]:
#Replacing the TechSupport Where 1 indicates Yes and 0 Indicates No


data['TechSupport'].replace(to_replace='Yes',value=1,inplace=True)
data['TechSupport'].replace(to_replace='No',value=0,inplace=True)

In [19]:
#Replacing the StreamingTV Where 1 indicates Yes and 0 Indicates No

data['StreamingTV'].replace(to_replace='Yes',value=1,inplace=True)
data['StreamingTV'].replace(to_replace='No',value=0,inplace=True)

In [20]:
#Replacing the StreamingMovies Where 1 indicates Yes and 0 Indicates No

data['StreamingMovies'].replace(to_replace='Yes',value=1,inplace=True)
data['StreamingMovies'].replace(to_replace='No',value=0,inplace=True)

In [21]:
#Replacing the PaperlessBilling Where 1 indicates Yes and 0 Indicates No

data['PaperlessBilling'].replace(to_replace='Yes',value=1,inplace=True)
data['PaperlessBilling'].replace(to_replace='No',value=0,inplace=True)

In [25]:
#Replacing the PaymentMethod Where 1 indicates Electronic check and Mailed check and 2 indicates Bank transfer and Credit card

data['PaymentMethod'].replace(to_replace='Electronic check',value=1,inplace=True)
data['PaymentMethod'].replace(to_replace='Mailed check',value=1,inplace=True)
data['PaymentMethod'].replace(to_replace='Bank transfer (automatic)',value=2,inplace=True)
data['PaymentMethod'].replace(to_replace='Credit card (automatic)',value=2,inplace=True)

In [31]:
#Replacing the Contract Where 1 indicates Month-to-month, 2 indicates One year and 3 indicates Two year

data['Contract'].replace(to_replace='Month-to-month',value=1,inplace=True)
data['Contract'].replace(to_replace='One year',value=2,inplace=True)
data['Contract'].replace(to_replace='Two year',value=3,inplace=True)

In [60]:
data.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,1,1,29.85,29.85,0
1,5575,1,0,0,0,34,1,0,1,1,...,1,0,0,0,2,0,1,56.95,1889.5,0
2,3668,1,0,0,0,2,1,0,1,1,...,0,0,0,0,1,1,1,53.85,108.15,1
3,7795,1,0,0,0,45,0,0,1,1,...,1,1,0,0,2,0,2,42.30,1840.75,0
4,9237,0,0,0,0,2,1,0,1,0,...,0,0,0,0,1,1,1,70.70,151.65,1
5,9305,0,0,0,0,8,1,1,1,0,...,1,0,1,1,1,1,1,99.65,820.5,1
6,1452,1,0,0,1,22,1,1,1,0,...,0,0,1,0,1,1,2,89.10,1949.4,0
7,6713,0,0,0,0,10,0,0,1,1,...,0,0,0,0,1,0,1,29.75,301.9,0
8,7892,0,0,1,0,28,1,1,1,0,...,1,1,1,1,1,1,1,104.80,3046.05,1
9,6388,1,0,0,1,62,1,0,1,1,...,0,0,0,0,2,0,2,56.15,3487.95,0